In [297]:
# Importing all the necessary libraries
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sb
import numpy as np

In [207]:
# Reading the Dataset
# Dataset contains different types of food data (calories,fat,protein&fat) along with COVID 19 data for a list of countries
# According to the datasource Food intake data represents % of total intake amount
calories = pd.read_csv('Food_Supply_kcal_Data.csv')
protein = pd.read_csv('Protein_Supply_Quantity_Data.csv')
fat = pd.read_csv('Fat_Supply_Quantity_Data.csv')
qty = pd.read_csv('Food_Supply_Quantity_kg_Data.csv')

In [208]:
# Checking the dataset
nRow, nCol = calories.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 170 rows and 32 columns

In [258]:
calories.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,4.7774,0.8504,0.0,37.1186,0.1501,0.0000,1.4757,1.2006,...,2.3012,0.7504,4.5,29.8,0.138283,0.005970,0.116713,0.015601,38928000.0,%
1,Albania,0.9120,16.0930,1.0591,0.0,16.2107,0.8091,0.1471,3.8982,3.8688,...,2.8244,2.7508,22.3,6.2,2.347956,0.044574,1.396230,0.907153,2838000.0,%
2,Algeria,0.0896,6.0326,0.1941,0.0,25.0112,0.4181,0.1195,3.1805,1.2543,...,5.7638,2.0457,26.6,3.9,0.233066,0.006373,0.158234,0.068458,44357000.0,%
3,Angola,1.9388,4.6927,0.2644,0.0,18.3521,0.0441,0.8372,2.3133,2.9302,...,4.2741,0.3525,6.8,25.0,0.057435,0.001316,0.049566,0.006552,32522000.0,%
4,Antigua and Barbuda,2.3041,15.3672,1.5429,0.0,13.7215,0.2057,1.7280,3.6824,7.0356,...,4.6904,1.2960,19.1,NaN,0.187755,0.006122,0.159184,0.022449,98000.0,%

In [237]:
# Method to convert remove special character(s) and convert values to float

def to_float(x):
    if isinstance(x,str):
        return float(x.lstrip('<'))
    else:
        return x

In [253]:
# Method to convert population to million 
def convert(x):
    x = round(x/1000000,2)
    return x

In [248]:
# Invoke to_float()method to convert column "Undernourished"

protein['Undernourished']= protein['Undernourished'].apply(to_float)
calories['Undernourished']= calories['Undernourished'].apply(to_float)
fat['Undernourished']= fat['Undernourished'].apply(to_float)
qty['Undernourished']= qty['Undernourished'].apply(to_float)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 169
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       164 non-null    object
 1   Alcoholic Beverages           164 non-null    float64
 2   Animal fats                   164 non-null    float64
 3   Animal Products               164 non-null    float64
 4   Aquatic Products, Other       164 non-null    float64
 5   Cereals - Excluding Beer      164 non-null    float64
 6   Eggs                          164 non-null    float64
 7   Fish, Seafood                 164 non-null    float64
 8   Fruits - Excluding Wine       164 non-null    float64
 9   Meat                          164 non-null    float64
 10  Milk - Excluding Butter       164 non-null    float64
 11  Miscellaneous                 164 non-null    float64
 12  Offals                        164 non-null    float64
 13  Oilcrops                      164 non-null    float64
 14  Pulses                        164 non-null    float64
 15  Spices                        164 non-null    float64
 16  Starchy Roots                 164 non-null    float64
 17  Stimulants                    164 non-null    float64
 18  Sugar & Sweeteners            164 non-null    float64
 19  Sugar Crops                   164 non-null    float64
 20  Treenuts                      164 non-null    float64
 21  Vegetable Oils                164 non-null    float64
 22  Vegetables                    164 non-null    float64
 23  Vegetal Products              164 non-null    float64
 24  Obesity                       163 non-null    float64
 25  Undernourished                157 non-null    float64
 26  Confirmed                     164 non-null    float64
 27  Deaths                        164 non-null    float64
 28  Recovered                     164 non-null    float64
 29  Active                        162 non-null    float64
 30  Population                    164 non-null    float64
 31  Unit (all except Population)  164 non-null    object
dtypes: float64(30), object(2)
memory usage: 42.3+ KB

In [249]:
# Dropping countries where confirmed COVID cases data is Not Available

calories.dropna(subset=['Confirmed'],inplace=True)
protein.dropna(subset=['Confirmed'],inplace=True)
fat.dropna(subset=['Confirmed'],inplace=True)
qty.dropna(subset=['Confirmed'],inplace=True)

In [281]:
#proteinagg = protein.rename({4:"Seafood"}, axis=1)

In [266]:
# mask = calories[calories['Country'] == 'United States of America']
# mask
protein.head(3)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,9.7523,0.0277,0.0,35.9771,0.4067,0.0647,0.5824,3.1337,...,1.1370,0.0462,4.5,29.8,0.138283,0.005970,0.116713,0.015601,38928000.0,%
1,Albania,0.1840,27.7469,0.0711,0.0,14.2331,1.8069,0.6274,1.2757,7.6582,...,3.2456,0.0544,22.3,6.2,2.347956,0.044574,1.396230,0.907153,2838000.0,%
2,Algeria,0.0323,13.8360,0.0054,0.0,26.5633,1.2916,0.6350,1.1624,3.5088,...,3.1267,0.1399,26.6,3.9,0.233066,0.006373,0.158234,0.068458,44357000.0,%

In [224]:
# Validating that Total of intake column % values equal to 100. 
total = mask.iloc[:, 1:24].sum(axis=1)
print(total)

161    99.9999
dtype: float64

In [217]:
# Most number of confirmed COVID cases as % of population
#calories[calories['Confirmed'] == calories['Confirmed'].max()]

In [216]:
# Least number of confirmed COVID cases as % of population
# calories[calories['Confirmed'] == calories['Confirmed'].min()]

In [321]:
#calories.sort_values('Population',ascending=False).head(50)

#Top 50 countries Calorie intake
mask1 = calories['Population']>1000000
calories1M = calories[mask1]

#Top 50 countries Protein intake
mask2 = protein['Population']>1000000
protein1M = protein[mask2]

#Top 50 countries Fat intake
mask3 = fat['Population']>1000000
fat1M = fat[mask3]

#Top 50 countries Food qty intake
mask4 = qty['Population']>1000000
qty1M = qty[mask4]

In [322]:
protein1M['Population'].head(10)
protein1M['Population'].apply(convert)
protein1M.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 0 to 169
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       141 non-null    object
 1   Alcoholic Beverages           141 non-null    float64
 2   Animal Products               141 non-null    float64
 3   Animal fats                   141 non-null    float64
 4   Aquatic Products, Other       141 non-null    float64
 5   Cereals - Excluding Beer      141 non-null    float64
 6   Eggs                          141 non-null    float64
 7   Fish, Seafood                 141 non-null    float64
 8   Fruits - Excluding Wine       141 non-null    float64
 9   Meat                          141 non-null    float64
 10  Milk - Excluding Butter       141 non-null    float64
 11  Offals                        141 non-null    float64
 12  Oilcrops                      141 non-null    float64
 13  Pulses                        141 non-null    float64
 14  Spices                        141 non-null    float64
 15  Starchy Roots                 141 non-null    float64
 16  Stimulants                    141 non-null    float64
 17  Sugar Crops                   141 non-null    float64
 18  Sugar & Sweeteners            141 non-null    float64
 19  Treenuts                      141 non-null    float64
 20  Vegetal Products              141 non-null    float64
 21  Vegetable Oils                141 non-null    float64
 22  Vegetables                    141 non-null    float64
 23  Miscellaneous                 141 non-null    float64
 24  Obesity                       140 non-null    float64
 25  Undernourished                139 non-null    float64
 26  Confirmed                     141 non-null    float64
 27  Deaths                        141 non-null    float64
 28  Recovered                     141 non-null    float64
 29  Active                        139 non-null    float64
 30  Population                    141 non-null    float64
 31  Unit (all except Population)  141 non-null    object
dtypes: float64(30), object(2)
memory usage: 36.4+ KB

In [312]:
# Data Aggregation

# proteinagg = protein1M.rename({"Animal Products":"Animal","Animal fats":"Animal","Aquatic Products, Other":"Seafood", "Cereals - Excluding Beer":"Plant",
#                                "Fish, Seafood":"Seafood", "Fruits - Excluding Wine":"Plant","Meat":"Animal","Milk - Excluding Butter":"Dairy",
#                                "Offals":"Animal","Oilcrops":"Plant","Spices":"Plant","Pulses":"Plant","Spices":"Plant","Starchy Roots":"Plant",
#                                "Stimulants":"Other","Sugar Crops":"Sugars","Sugar & Sweeteners":"Sugars","Treenuts":"Plant",
#                                "Vegetal Products":"Plant","Vegetable Oils":"Plant","Vegetables":"Plant","Miscellaneous":"Other",
#                                "Plant Products":"Plant"},axis=1)
# proteinagg.info()

In [332]:
protein1M['Plant Products'] = protein1M['Cereals - Excluding Beer'] + protein1M['Fruits - Excluding Wine'] 
+ protein1M['Oilcrops'] + protein1M['Pulses'] + protein1M['Spices'] 
+ protein1M['Starchy Roots'] + protein1M['Treenuts'] + protein1M['Vegetal Products'] 
+ protein1M['Vegetable Oils'] + protein1M['Vegetables']

    
# proteinagg_transposed = proteinagg.T
# proteinagg_transposed.head(3)

<ipython-input-332-9d25b5032327>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  protein1M['Plant Products'] = protein1M['Cereals - Excluding Beer'] + protein1M['Fruits - Excluding Wine']

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),Plant Products
166,Vietnam,0.1555,20.4466,0.1555,0.0056,18.5247,0.7665,5.7435,0.7165,11.0426,...,0.0389,2.1,9.3,0.001597,0.000036,0.001434,0.000126,96209000.0,%,19.2412

In [334]:
protein1M

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),Plant Products
0,Afghanistan,0.0000,9.7523,0.0277,0.0000,35.9771,0.4067,0.0647,0.5824,3.1337,...,0.0462,4.5,29.8,0.138283,0.005970,0.116713,0.015601,38928000.0,%,36.5595
1,Albania,0.1840,27.7469,0.0711,0.0000,14.2331,1.8069,0.6274,1.2757,7.6582,...,0.0544,22.3,6.2,2.347956,0.044574,1.396230,0.907153,2838000.0,%,15.5088
2,Algeria,0.0323,13.8360,0.0054,0.0000,26.5633,1.2916,0.6350,1.1624,3.5088,...,0.1399,26.6,3.9,0.233066,0.006373,0.158234,0.068458,44357000.0,%,27.7257
3,Angola,0.6285,15.2311,0.0277,0.0000,20.3882,0.1756,5.4436,1.2754,7.6248,...,0.0924,6.8,25.0,0.057435,0.001316,0.049566,0.006552,32522000.0,%,21.6636
5,Argentina,0.1704,31.9799,0.0097,0.0000,13.6702,2.0593,1.0223,0.5209,21.6250,...,0.0000,28.5,4.6,3.929407,0.099669,3.442191,0.387547,45377000.0,%,14.1911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.1955,22.5411,0.1244,0.0000,21.6526,0.8707,2.6477,1.0662,11.8347,...,0.0267,25.2,21.2,0.414928,0.003823,0.392110,0.018995,28645000.0,%,22.7188
166,Vietnam,0.1555,20.4466,0.1555,0.0056,18.5247,0.7665,5.7435,0.7165,11.0426,...,0.0389,2.1,9.3,0.001597,0.000036,0.001434,0.000126,96209000.0,%,19.2412
167,Yemen,0.0000,10.0122,0.0188,0.0000,35.1179,0.4320,0.9392,0.4884,5.9453,...,0.0564,14.1,38.9,0.007078,0.002052,0.004758,0.000268,29826000.0,%,35.6063
168,Zambia,0.4824,9.8925,0.0338,0.0000,28.5182,0.5839,3.0126,0.0931,4.3158,...,0.0592,6.5,46.7,0.186456,0.002867,0.131119,0.052470,18384000.0,%,28.6113
169,Zimbabwe,0.2929,11.3443,0.0391,0.0000,33.1934,0.5077,1.0837,0.2636,6.6582,...,0.0586,12.3,51.3,0.175664,0.004481,0.103707,0.067476,14863000.0,%,33.4570

In [227]:
# Correlation Matrix between Alcohol consumption, Sugar, Meat & COVID Deaths

# compare1 = ['Alcoholic Beverages','Sugar & Sweeteners','Meat','Deaths']
# df = protein1M[compare1]
# correl_matrix = df.corr()



# Using seaborn heatmap() method to plot the Matrix

# sb.heatmap(correl_matrix, annot=True, cmap="YlOrBr", linewidths=.1)
# plt.show()

In [167]:
# Requires method to convert Undernourished to float

compare2 = ['Obesity','Undernourished','Confirmed','Deaths']
df = protein1M[compare2]
correl_matrix2 = df.corr()
print(correl_matrix2)


# Using seaborn heatmap() method to plot the Matrix

# sb.heatmap(correl_matrix2, annot=True, cmap="YlOrBr", linewidths=.5)
# plt.show()

            Obesity  Confirmed    Deaths
Obesity    1.000000   0.615833  0.549561
Confirmed  0.615833   1.000000  0.858547
Deaths     0.549561   0.858547  1.000000

In [228]:
# compare3 = protein1M.iloc[:,1:23]
# correl_matrix3 = compare3.corr()
# #print(correl_matrix2)

# Using seaborn heatmap() method to plot the Matrix

# sb.heatmap(correl_matrix3, annot=False, cmap="YlGnBu",linewidths=0.5)
# plt.show()

In [48]:
# protein50['Confirmed'].value_counts(ascending=True).plot(figsize=(12,6), kind='barh', color='#a27250');
# cases = protein50['Confirmed'].values
# country = protein50['Country'].values

In [33]:
plt.style.use('seaborn')
plt.rc('figure',figsize=(10,8))